extends base

block content
    .overview
       
        a(href="/images/Highest-Revenue-Stocks-Bar(1).png" data-lightbox="mygallery")
            .one2 
                p  Highest Revenue Stocks
        a(href="/images/Least-Trading-Countries(1).png" data-lightbox="gallery1")
            .two
                p Least Trading Countries
        a(href="/images/Market-Size-of-Countries(1).png" data-lightbox="gallery2")
            .three
                p Market Size of Countries
        a(href="/images/Most-Expensive-Stocks(1).png" data-lightbox="gallery3")    
            .four
                p Most Expensive Stocks
        a(href="/images/Most-Traded-Stocks(1).png" data-lightbox="gallery4")
            .five
                p Most Traded Stocks
        a(href="/images/Trading-Amount(1).png" data-lightbox="gallery5")
            .six
                p Trading Amount
        a(href="/images/Revenue-of-most-expensive-stocks(1).png" data-lightbox="gallery6")
            .seven
                p Revenue Of Most Expensive Stocks
        a(href="/images/Price-of-largest-revenue-stocks(1).png" data-lightbox="gallery6")
            .eight
                p Price of largest Revenue stocks